<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You're question has been answered!</h1>
    <p>
      Visit your <a href="<%= @url%>">dashboard</a> to view the answer.
    </p>
  </body>
</html>