<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to APP_NAME, <%= @participant.first_name %></h1>
    <p>
      You have been enrolled in the following study..... Please follow this link to reset your password.<br/>
      Link: <%= @url %><br>
      Please enter your email and temporary password when the site loads.
      <%= @password %>
    </p>
    <p>If you have any questions please do not hestitate to reach out.</p>
  </body>
</html>