<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to SUBJECT1, <%= @participant.first_name %></h1>
    <p>
      You have been enrolled in the following study. Please follow this link to reset your password.<br/>
      Link: <%= @url %><br><br>
      Please enter your email and the following temporary password when the site loads.<br>
      Temporary Password: <%= @password %><br><br>
      You can then reset your password and login to view your dashboard.<br>
    </p>
    <p>If you have any questions please do not hestitate to reach out.</p>
  </body>
</html>