
<div>Trial: <%= @trial.number %></div>
<div>Title: <%= @trial.title %></div>
<div>Description: <%= @trial.information %></div>

<div class="container">
  <h1> Trial Information </h1>

  <div id="trial-title">
    <h2>Trial of Oral Valproic Acid for Retinitis Pigmentosa (VPA)</h2>
  </div>

  <div id="gov-id">
    ClinicalTrials.gov Identifier: <a href="http://clinicaltrials.gov/ct2/show/NCT01233609?term=Retinitis+Pigmentosa&rank=7">NCT01233609</a>
  </div>

  <div id="trial-purpose">
    <h3>Purpose</h3>
    <p>The objectives of this study are to evaluate the efficacy of Valproic Acid (VPA) to both slow the progression of visual function loss and/or to restore visual function in patients with Autosomal Dominant Retinitis Pigmentosa (RP) and to collect safety and tolerability information.</p>
  </div>

  <div id="study-type">
    Study Type:  Interventional
  </div>

  <div id="detailed-description">
    <h3>Detailed Description of Trial</h3>
    <p>Retinitis Pigmentosa (RP) is an incurable and untreatable group of heterogeneous retinal degenerative diseases that cause severe visual loss. There is currently no therapeutic that substantially slows the progression of this disease, and certainly none that can restore vision in RP patients. The Valproic Acid (VPA) study is designed as a six-site, interventional, prospective, randomized, placebo controlled, double-blinded study of 90 participants to evaluate the efficacy of oral Valproic Acid to both slow the progression of visual function loss and/or to restore visual function in patients with an Autosomal Dominant RP genetic mutation and to collect safety and tolerability information. Patients that participate in the study will be randomized to either placebo or VPA in a 1:1 ratio.</p>
  </div>

  <div id="trial-duration">
    <h3>Trial Duration</h3>
    <div id="study-start-date">
      Start Date: November 2010
    </div>

    <div id="study-datacompletion-date">
      Final Data Collection Date for Primary Outcome Measure: December 2014
    </div>

    <div id="study-completion-date">
      Expected Study Completion Date: June 2015
    </div>
  </div>

  <div id="stakeholders">
    <h3>Stakeholders and Locations of Study</h3>
    <div id="sponsors">
      <h4>Sponsors</h4>
      <ul>
        <li>Foundation Fighting Blindness Clinical Research Institute</li>
        <li>Department of Defense</li>
      </ul>
    </div>

    <div id="investigators">
      <h4>Investigators</h4>
      <p>Study Director: Judith Chiostri, MS Foundation Fighting Blindness Clinical Research Institute</p>
    </div>

    <div id="trial-locations">
      <h4>Locations</h4>
      <div class="locations-of-study">
        United States, Florida
        University of Miami, Bascom Palmer Eye Institute  Recruiting
        Miami, Florida, United States, 33136
        Contact: Jennifer Verriotto     305-202-4731     JVerriotto@med.miami.edu
        Principal Investigator: Byron Lam, MD
        </div>
      <div class="locations-of-study">
        United States, Michigan
        University of Michigan, Ann Arbor Recruiting
        Ann Arbor, Michigan, United States, 48105
        Contact: Lindsay Godsey, COT     734-936-0318     godseyli@med.umich.edu
        Principal Investigator: John Heckenlively, MD
        </div>
      <div class="locations-of-study">
        United States, Oregon
        Oregon Health & Science University  Recruiting
        Portland, Oregon, United States, 97239
        Contact: Joycelyn Niimi, MS     503-494-2363     niimi@ohsu.edu
        Principal Investigator: Mark Pennesi, MD
        </div>
      <div class="locations-of-study">
        United States, Tennessee
        University of Tennessee, Hamilton Eye Institute Recruiting
        Memphis, Tennessee, United States, 38163
        Contact: Barbara Jennings, MA, OD     901-448-6445     bjennin5@uthsc.edu
        Principal Investigator: Alessandro Iannaccone, MD, MS
        </div>
      <div class="locations-of-study">
        United States, Texas
        Retina Foundation of the Southwest  Recruiting
        Dallas, Texas, United States, 75231
        Contact: Kirsten Locke, RN     214-363-3911 ext 114     kglocke@retinafoundation.org
        Principal Investigator: David G Birch, PhD
        </div>
      <div class="locations-of-study">
        United States, Utah
        University of Utah School of Medicine, Moran Eye Center Recruiting
        Salt Lake City, Utah, United States, 84132
        Contact: Kimberley Wegner, RN     801-581-6265     Kimberley.Wegner@hsc.utah.edu
        Principal Investigator: Paul S Bernstein, MD, PhD
        <div>
    </div>
    <div><!--end of stakeholders -->

  <div id="study-design">
    <h3>Study Design</h3>
    Allocation: Randomized
    Endpoint Classification: Safety/Efficacy Study
    Intervention Model: Parallel Assignment
    Masking: Double Blind (Subject, Caregiver, Investigator, Outcomes Assessor)
    Primary Purpose: Treatment
  <div>

  <div id="study-official-title">
    <h3>Official Title of trial:</h3>
    A Phase II Multiple Site, Randomized, Placebo-Controlled Trial of Oral Valproic Acid for Autosomal Dominant Retinitis Pigmentosa
  </div>

  <div id="primary-outcome-measures">
    <h3>Primary Outcome Measures:</h3>
    <ul>
      <li>Mean change in visual field area from baseline to 52 weeks. [ Time Frame: Screening, baseline, week 26, and week 52 ] [ Designated as safety issue: No ]</li>
      <li>Mean change in visual field area from baseline to 52 weeks. Visual field area will be measured using semi-automated kinetic perimetry (SKP) using the Octopus 900 (Haig-Strait).</li>
    </ul>
  </div>

  <div id="secondary-outcome-measures">
    <h3>Secondary Outcome Measures:</h3>
    <ul>
      <li>Static perimetry measurements in the full visual field [ Time Frame: Screening, baseline, week 26, and week 52 ] [ Designated as safety issue: No ]</li>
      <li>Static perimetry measurements in the full visual field, including the central 30 field.</li>
      <li>Mean change in best corrected visual acuity. [ Time Frame: Baseline to Week 52 ] [ Designated as safety issue: No ]</li>
      <li>Mean change in best corrected visual acuity as measured by Electronic Visual Acuity-Early Treatment Diabetic Retinopathy Study (EVA-ETDRS) visual acuity test.</li>
      <li>Color contrast sensitivity [ Time Frame: Baseline to 52 weeks ] [ Designated as safety issue: No ]</li>
      <li>Color contrast sensitivity as measured by ChromaTest.</li>
      <li>Mean change in peak Electroretinogram (ERG) amplitude [ Time Frame: Baseline to 52 weeks ] [ Designated as safety issue: No ]</li>
      <li>Mean change in peak Electroretinogram (ERG) amplitude</li>
      <li>Mean change in central macular thickness and macular volume [ Time Frame: Baseline to 52 weeks ] [ Designated as safety issue: No ]</li>
      <li>Mean change in central macular thickness and mean change in macular volume as measured by Optical Coherence Tomography (OCT).</li>
      <li>Change in fundus appearance [ Time Frame: Baseline to 52 weeks ] [ Designated as safety issue: No ]</li>
      <li>Change in fundus appearance as judged by color retinal photography.</li>
      <li>Mean change in total score on vision-related quality of life. [ Time Frame: Baseline to 52 weeks ] [ Designated as safety issue: No ]</li>
      <li>Mean change in total score on vision-related quality of life as measured by the National Eye Institute Visual Function Questionnaire 25 (NEI-VFQ25).</li>
      <li>Changes in clinical laboratory data [ Time Frame: Baseline through 15 months ] [ Designated as safety issue: Yes ]</li>
      <li>Changes in clinical laboratory data</li>
      <li>Changes in physical examination findings [ Time Frame: Baseline through 15 months ] [ Designated as safety issue: Yes ]</li>
      <li>Changes in physical examination findings.</li>
    </ul>
  </div>

  <div id="other-resources">
    <div class="resource-title">
      Foundation Fighting Blindness
    </div>

    <div class="resource-description">
      Offers more information about current state of research and general knowledge of Retinitis Pigmentosa and other diseases of affecting vision
    </div>

    <div class="resource-link">
      <a href="http://www.blindness.org/index.php?option=com_content&view=section&id=7&itemid=101">http://www.blindness.org/index.php?option=com_content&view=section&id=7&itemid=101</a>
    </div>
  </div>

</div><!-- end of container -->
