<div class="jumbotron">
  <div class="container">
    <h1> Trial Information </h1>
  </div>
</div>


<div class="container">
  <div id="trial-title">
    <h2>Trial of Oral Valproic Acid for Retinitis Pigmentosa (VPA)</h2>
  </div>


<ul class="list-group">
  <li class="list-group-item">
    <h4 data-toggle="collapse" data-target="#trial-purpose">Purpose <span class="caret"></span></h4>
      <div id="trial-purpose" class="collapse">
        <p>The objectives of this study are to evaluate the efficacy of Valproic Acid (VPA) to both slow the progression of visual function loss and/or to restore visual function in patients with Autosomal Dominant Retinitis Pigmentosa (RP) and to collect safety and tolerability information.<p>
        <p id="gov-id">ClinicalTrials.gov Identifier: <a href="http://clinicaltrials.gov/ct2/show/NCT01233609?term=Retinitis+Pigmentosa&rank=7">NCT01233609</a><p>
      </div>
  </li>

  <li class="list-group-item">
    <h4 data-toggle="collapse" data-target="#detailed-description">Detailed Description of Trial <span class="caret"></span></h4>
    <div id="detailed-description" class="collapse">
      <p>Retinitis Pigmentosa (RP) is an incurable and untreatable group of heterogeneous retinal degenerative diseases that cause severe visual loss. There is currently no therapeutic that substantially slows the progression of this disease, and certainly none that can restore vision in RP patients. The Valproic Acid (VPA) study is designed as a six-site, interventional, prospective, randomized, placebo controlled, double-blinded study of 90 participants to evaluate the efficacy of oral Valproic Acid to both slow the progression of visual function loss and/or to restore visual function in patients with an Autosomal Dominant RP genetic mutation and to collect safety and tolerability information. Patients that participate in the study will be randomized to either placebo or VPA in a 1:1 ratio.</p>
      <div id="study-official-title">
      <h5>Official Title of Trial:</h5>
      <p>A Phase II Multiple Site, Randomized, Placebo-Controlled Trial of Oral Valproic Acid for Autosomal Dominant Retinitis Pigmentosa</p>
      <h5>Trial Type and Design:</h5>
    </div>
      <div class="row">
        <div class="col-md-1"></div>
          <div class="col-md-5">
            <div class="thumbnail">
                <h5 id="study-type">Study Type: </h5>
                  <p>Interventional</p>
            </div>
          </div>
          <div class="col-md-5">
            <div class="thumbnail">
              <h5 id="id=study-design">Study Design</h5>
                <p>Allocation: Randomized</p>
                <p>Endpoint Classification: Safety/Efficacy Study</p>
                <p>Intervention Model: Parallel Assignment<p>
                <p>Masking: Double Blind (Subject, Caregiver, Investigator, Outcomes Assessor)</p>
                <p>Primary Purpose: Treatment</p>
            </div>
          </div>
        </div><!--end of row -->

    </div>
  </li>


  <li class="list-group-item">
    <h4 data-toggle="collapse" data-target="#trial-duration">Trial Duration <span class="caret"></span></h4>
    <div id="trial-duration" class="collapse">
      <p= id="study-start-date">
      Start Date: November 2010
    </p>
    <p id="study-datacompletion-date">
      Final Data Collection Date for Primary Outcome Measure: December 2014
    </p>
    <p id="study-completion-date">
      Expected Study Completion Date: June 2015
    </p>
    </div>
  </li>

  <li class="list-group-item">
    <h4 data-toggle="collapse" data-target="#stakeholders">Sponsors & Investigators <span class="caret"></span></h4>
    <div id="stakeholders" class="collapse">
      <h5 id="sponsors">Sponsors</h5>
      <ul>
        <li>Foundation Fighting Blindness Clinical Research Institute</li>
        <li>Department of Defense</li>
      </ul>
      <h5 id="investigators">Investigators</h5>
      <ul>
        <li>Study Director: Judith Chiostri, MS Foundation Fighting Blindness Clinical Research Institute</li>
      </ul>
    </div>
  </li>

  <li class="list-group-item">
    <h4 data-toggle="collapse" data-target="#locations">Trial Locations<span class="caret"></span></h4>
    <div id="locations" class="collapse">
      <div class="row">

        <div class="col-md-4">
          <div class="thumbnail">
            <div class="loc-col">
              <h5>Florida</h5>
              <p class="loc-institut">University of Miami, Bascom Palmer Eye Institute</p>
              <p class="institut-address">Miami, Florida, United States, 33136</p>
              <p class="institut-contact">Contact: Jennifer Verriotto</p>
              <p>Telephone: 305-202-4731</p>
              <p>Email: JVerriotto@med.miami.edu</p>
              <p class="institut-pi">Principal Investigator: Byron Lam, MD</p>
              <p class="institut-status">Study Status: Recruiting </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <div class="loc-col">
              <h5>Michigan</h5>
                <p class="loc-institut">University of Michigan, Ann Arbor</p>
                <p class="institut-address">Ann Arbor, Michigan, United States, 48105</p>
                <p class="institut-contact">Contact: Lindsay Godsey, COT</p>
                <p>Telephone: 734-936-0318</p>
                <p>Email: godseyli@med.umich.edu</p>
                <p class="institut-pi">Principal Investigator: John Heckenlively, MD</p>
                <p class="institut-status">Study Status: Recruiting </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <div class="loc-col">
              <h5>Oregon</h5>
                <p class="loc-institut">Oregon Health & Science University  </p>
                <p class="institut-address">Portland, Oregon, United States, 97239</p>
                <p class="institut-contact">Contact: Joycelyn Niimi, MS </p>
                <p>Telephone: 503-494-2363 </p>
                <p>Email: niimi@ohsu.edu</p>
                <p class="institut-pi">Principal Investigator: Mark Pennesi, MD</p>
                <p class="institut-status">Study Status: Recruiting </p>
            </div>
          </div>
        </div>
      </div><!-- end of row -->

      <div class="row"><!-- start of row -->

        <div class="col-md-4">
          <div class="thumbnail">
            <div class="loc-col">
              <h5>Tennessee</h5>
              <p class="loc-institut">University of Tennessee, Hamilton Eye Institute </p>
              <p class="institut-address">Memphis, Tennessee, United States, 38163</p>
              <p class="institut-contact">Contact: Barbara Jennings, MA, OD</p>
              <p>Telephone: 901-448-6445 </p>
              <p>Email: bjennin5@uthsc.edu</p>
              <p class="institut-pi">Principal Investigator: Alessandro Iannaccone, MD, MS</p>
              <p class="institut-status">Study Status: Recruiting </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <div class="loc-col">
              <h5>Texas</h5>
                <p class="loc-institut">Retina Foundation of the Southwest</p>
                <p class="institut-address">Dallas, Texas, United States, 75231</p>
                <p class="institut-contact">Contact: Kirsten Locke, RN</p>
                <p>Telephone: 214-363-3911 ext 114</p>
                <p>Email: kglocke@retinafoundation.org</p>
                <p class="institut-pi">Principal Investigator: David G Birch, PhD</p>
                <p class="institut-status">Study Status: Recruiting </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <div class="loc-col">
              <h5>Utah</h5>
                <p class="loc-institut">University of Utah School of Medicine, Moran Eye Center</p>
                <p class="institut-address">Salt Lake City, Utah, United States, 84132</p>
                <p class="institut-contact">Contact: Kimberley Wegner, RN</p>
                <p>Telephone: 801-581-6265</p>
                <p>Email: niimi@ohsu.edu</p>
                <p class="institut-pi">Principal Investigator: Kimberley.Wegner@hsc.utah.edu</p>
                <p class="institut-status">Study Status: Recruiting </p>
            </div>
          </div>
        </div>

      </div><!-- end of row -->

  <li class="list-group-item">
  <h4 data-toggle="collapse" data-target="#trial-outcomes">Outcome Measures <span class="caret"></span></h4>
    <div id="trial-outcomes" class="collapse">
      <div class="row">
        <div class="col-md-1"></div>
          <div class="col-md-5">
            <div class="thumbnail">
              <h5 id="primary-outcome-measures">Primary Outcome Measures: </h5>
                <ul>
                  <li>Mean change in visual field area from baseline to 52 weeks. [ Time Frame: Screening, baseline, week 26, and week 52 ] [ Designated as safety issue: No ]</li>
                  <li>Mean change in visual field area from baseline to 52 weeks. Visual field area will be measured using semi-automated kinetic perimetry (SKP) using the Octopus 900 (Haig-Strait).</li>
                </ul>
            </div><!-- end of thumbnail -->
          </div><!-- end of col-md-5 -->

          <div class="col-md-5">
            <div class="thumbnail">
              <h5 id="id=secondary-outcome-measures">Secondary Outcome Measures</h5>
                <ul>
                  <li>Static perimetry measurements in the full visual field [ Time Frame: Screening, baseline, week 26, and week 52 ] [ Designated as safety issue: No ]</li>
                  <li>Static perimetry measurements in the full visual field, including the central 30 field.</li>
                  <li>Mean change in best corrected visual acuity. [ Time Frame: Baseline to Week 52 ] [ Designated as safety issue: No ]</li>
                  <li>Mean change in best corrected visual acuity as measured by Electronic Visual Acuity-Early Treatment Diabetic Retinopathy Study (EVA-ETDRS) visual acuity test.</li>
                  <li>Color contrast sensitivity [ Time Frame: Baseline to 52 weeks ] [ Designated as safety issue: No ]</li>
                  <li>Color contrast sensitivity as measured by ChromaTest.</li>
                  <li>Mean change in peak Electroretinogram (ERG) amplitude [ Time Frame: Baseline to 52 weeks ] [ Designated as safety issue: No ]</li>
                  <li>Mean change in peak Electroretinogram (ERG) amplitude</li>
                  <li>Mean change in central macular thickness and macular volume [ Time Frame: Baseline to 52 weeks ] [ Designated as safety issue: No ]</li>
                  <li>Mean change in central macular thickness and mean change in macular volume as measured by Optical Coherence Tomography (OCT).</li>
                  <li>Change in fundus appearance [ Time Frame: Baseline to 52 weeks ] [ Designated as safety issue: No ]</li>
                  <li>Change in fundus appearance as judged by color retinal photography.</li>
                  <li>Mean change in total score on vision-related quality of life. [ Time Frame: Baseline to 52 weeks ] [ Designated as safety issue: No ]</li>
                  <li>Mean change in total score on vision-related quality of life as measured by the National Eye Institute Visual Function Questionnaire 25 (NEI-VFQ25).</li>
                  <li>Changes in clinical laboratory data [ Time Frame: Baseline through 15 months ] [ Designated as safety issue: Yes ]</li>
                  <li>Changes in clinical laboratory data</li>
                  <li>Changes in physical examination findings [ Time Frame: Baseline through 15 months ] [ Designated as safety issue: Yes ]</li>
                  <li>Changes in physical examination findings.</li>
                </ul>
            </div><!-- end of thumbnail -->
          </div><!-- end of col-md-5 -->
        </div><!--end of row -->
  </li>

  <li class="list-group-item">
    <h4 data-toggle="collapse" data-target="#other-resources">Links to Other Resources <span class="caret"></span></h4>
      <div id="other-resources" class="collapse">
          <div id="other-resources">
            <h5 class="resource-title">
              Foundation Fighting Blindness
            </h5>

            <div class="resource-description">
              Offers more information about current state of research and general knowledge of Retinitis Pigmentosa and other diseases of affecting vision
            </div>

            <div class="resource-link">
              <a href="http://www.blindness.org/index.php?option=com_content&view=section&id=7&itemid=101">http://www.blindness.org/index.php?option=com_content&view=section&id=7&itemid=101</a>
            </div>
      </div>
  </li>

</div><!-- end of container -->
