<div class="container">
  <div class="row">
    <!--  insert navbar -->

  </div> <!-- closes row -->



  <div class="row">
  <!-- main body 2 columns-->
    <div class="col-md-8">
      <h1>Welcome</h1>
            
      <h2>Your Questions</h2> 
      <% if @questions.length == 0 %>
        <div>These are the instructions for you to ask a question.</div> 
      <% else %>
        <% @questions.each do |question| %>
          <div>
            <div><%= question.title %></div>
            <div><%= question.content %></div>
        </div> <!-- closes question and answer block-->
        <% end %>
      <% end %> 
    </div> <!-- closes content div-->

    <div class="col-md-4">
      <!-- right hand sidebar butttons-->
    </div> <!--  closes sidebar div -->
  </div> <!-- closes row -->


  
  <div class="row">
  <!-- insert footer -->

  </div> <!-- closes row--> 
</div> <!-- closes container-->


