<div class="container">
  <div class="row">
    <!--  insert navbar -->

  </div> <!-- closes row -->



  <div class="row">
  <!-- main body 2 columns-->
    <div class="col-md-8">
      <h1>Welcome</h1>

      <h2>Your Questions</h2>
      <% if @questions.length == 0 %>
        <div>These are the instructions for you to ask a question.</div>
      <% else %>
        <% @questions.each do |question| %>

          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title"><%= question.title %></h3>
            </div><!-- end of class="panel-heading" -->

            <div class="panel-body">You asked: <%= question.content %></div>
            <% if question.answer %>
              <div class="panel-body"><%= question.answer.content %> - <%= question.coordinator_name %></div>
            <% end %>

          </div><!-- end of class="panel panel-success" -->

        <% end %>
      <% end %>
    </div> <!-- closes class="col-md-8" -->

    <div class="col-md-4">
      <!-- right hand sidebar butttons-->

      <a href="/questions/new" class="btn btn-primary btn-lg btn-block">Ask a question</a>
      <a href="#" class="btn btn-default btn-lg btn-block">Make a wish</a>
      <a href="#" class="btn btn-default btn-lg btn-block">Fluffy Kittens</a>


    </div> <!--  closes sidebar div -->
  </div> <!-- closes row -->




  <!-- insert footer -->

  </div> <!-- closes row-->
</div> <!-- closes container-->


