<div class="container">
  <div class="row">
    <!--  insert navbar -->

  </div> <!-- closes row -->



  <div class="row">
  <!-- main body 2 columns-->
    <div class="col-md-8">
      <h2>Answered Questions</h2>
      <% if @answers %>

        <% @answers.each do |answer| %>

          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title"><%= answer.question.title %></h3>
            </div><!-- end of class="panel-heading" -->

            <div class="panel-body"><%= answer.question.content %></div>

              <div class="panel-body"><%= answer.content %> - <%= answer.question.coordinator_name %></div>

          </div><!-- end of class="panel panel-success" -->

        <% end %>
      <% end %>
    </div> <!-- closes class="col-md-8" -->
  </div> <!-- closes row -->






  <!-- insert footer -->

  </div> <!-- closes row-->
</div> <!-- closes container-->