#med-logo {
  padding: 15px;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  font-size:150%;
}

.top-padded {
  margin-top: 90px;
  /*padding-top: 40px;*/
}

.deco-bar {
  position: relative;
  min-height: 20px;
  /*margin-bottom: 55px;*/
  border: 1px solid transparent;
  background-color: #b2d271;
  background-image:url('wallpapersmall.png');
  background-repeat:repeat;
}

.flash_errors {
  position:absolute;
  top:60px;
}

.participant_container {
  margin-top: 25px;
}

.nav_fix {
  margin-top: 17px;
}
.nested_table {
  width: 100%;
}

.nested_table td {
  padding: 3px;
}

.well {
  border: 2px solid #D5D5D5;
}

.participant_table {
  margin-top: 150px;
}

.some_top_space {
  margin-top: 20px;
}

.blue-background {
  background-color: #5bc0de;
}

.pattern-background {
  background-image:url('wallpapersmall.png');
  background-repeat:repeat;
}

.panel-dark {
  border-color: #e0e0e0;
  background-color: #fffff;
}
.panel-dark > .panel-heading {
  color: #ffffff;
  background-color: #e0e0e0;
  border-color: #e0e0e0;
}
.pending_notification {
  padding: 5px;
  padding-right: 20px;
  margin-top: 25px;
  text-align: center;
}

.search-form {
  margin-top: 27px;
}
